name: Deploy SKOS to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Validate against NL-SBB SHACL
        run: |
          pyshacl \
          -s 'https://raw.githubusercontent.com/geonovum/NL-SBB/main/profiles/skos-ap-nl.ttl' \
          -m \
          -i rdfs \
          -a \
          -f human \
          begrippenkaders/energiesysteembeheer.ttl

      - name: Generate Markdown from SKOS model
        run: python gen_md.py

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true # Dit zorgt dat hij je Gemfile leest en cached!

      - name: Build Site with Jekyll
        run: |
          bundle exec jekyll build -s docs -d _site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
